//Fade Effect mixin 
@mixin faded_black {
    background: linear-gradient(to bottom,rgba(0,0,0,.7) 20%,rgba(0,0,0,.3));
}

//Belefair Font
$bellefair: 'Bellefair', serif;


.container {
    @include xy-grid-container();
}

.site-header {
    background-size: cover;
    background-image: url(../img/featured/small/home.jpg);
    height: 100vh;
    position: relative; //in order to add faded background on top 
    @include breakpoint(medium) {
        background-image: url(../img/featured/medium/home.jpg);
    }
    @include breakpoint(large) {
        background-image: url(../img/featured/large/home.jpg);
    }

    .header-container {
        padding-top:rem-calc(30);
        .top-section {
            position: relative;
            z-index: 1;
            @include xy-grid();
            @include flex-align(center,top);
            .logo {
                @include xy-cell(6);
                @include breakpoint(medium) {
                    @include xy-cell(25%);
                }
            }
            .menus {
                @include xy-cell();
                @include breakpoint(medium) {
                    @include xy-cell(75%);
                }

                .social-menu{
                    @include menu-base();
                    @include flex-align(center, middle);
                    @include breakpoint(medium) {
                        @include flex-align(right, middle);
                        
                    }

                    a{
                        @extend %fa-icon; 
                        @extend .fab;
                        
                       
                        &:before{
                            display: inline-block;
                            font-size: rem-calc(30);
                            color:$white;
                            -webkit-font-smoothing:antialiased;
                            
                             content:fa-content($fa-var-accessible-icon);

                        }
                        &[href*="facebook.com"]::before{
                            content:fa-content($fa-var-facebook-messenger)
                            
                        }
                        &[href*="Twitter.com"]::before{

                            content: fa-content($fa-var-twitter)
                            
                        }
                        &[href*="Instagram.com"]::before{
                            color:$white;
                            content:fa-content($fa-var-instagram)
                            
                        }
                        &[href*="Youtube.com"]::before{
                            content:fa-content($fa-var-youtube)
                            
                        }
                    }
                }
                .title-bar{
                    background-color: darken($primary-color,10);
                }
                .main-navigation{
                    @include menu-base();
                    @include flex-align(right, middle);
                    @include breakpoint(small only) {
                        // for giving backgorund to menu in small 
                        background-color:$primary-color;
                    }

                    li{
                        @include breakpoint(small only) {
                            width:100%;
                            text-align: center;
                        }
                        a{
                            font-size: rem-calc(16);
                            @include text-transform(uppercase);
                            @include font-bold(700);

                            &:hover{
                                color:$secondary-color;
                            }
                        }
                    }
                }
            }
        }
        .bottom-section {
            @include margin(1);
            @include breakpoint(medium) {
                height: rem-calc(230);
                @include flex();
                @include flex-align(center, bottom);
                
            }
            .slogan{
                position: relative;
                z-index: 1;
                // font-weight: 900;
                // text-transform: uppercase;
                color:$white;
                text-align: center;
                @include font-bold(900);
                @include text-transform(uppercase);
                

            }
        }
    }
    &:after{
        content:'';
        @include faded_black();
        @include position(absolute,0 ,0 ,0 ,0 );
        @include box(100%,100%)
    }
}

.menu-in{
    @include mui-zoom(0.1,1);
}